<!DOCTYPE html>
<html>
   <head>
      script.
            requesters=#{requesters};
            donor=#{donor};
      <title>Matcher</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
      <script src="/js/cardview_req.js" charset="utf-8"></script>
   </head>
   <body class="container">
      <div id="cards" class="row">
               <div class="col s12 m4">
                  <div class="card-panel teal">
                     <table class="white-text" style="padding-top:0px">
                        <tr>
                           <b>
                              <th>Match:</td>
                              <th> 100% </th>
                           </b>
                        </tr>
                        <br>
                        <tr>
                           <td>Name:</td>
                           <td>Abhishek Chopra</td>
                        </tr>
                        <tr>
                           <td>Contact:</td>
                           <td>984651234</td>
                        </tr>
                        <tr>
                           <td>Address:</td>
                           <td> Anand Vihar , Delhi</td>
                        </tr>
                     </table>
                  </div>
               </div>
               <div class="col s12 m4">
                  <div class="card-panel teal">
                     <table class="white-text" style="padding-top:0px">
                        <tr>
                           <b>
                              <th>Match:</td>
                              <th> 99%</th>
                           </b>
                        </tr>
                        <br>
                        <tr>
                           <td>Name:</td>
                           <td>asd</td>
                        </tr>
                        <tr>
                           <td>Contact:</td>
                           <td>9958818058</td>
                        </tr>
                        <tr>
                           <td>Address:</td>
                           <td> ND-09, Satpura Boys Hostel, IIT Delhi, Delhi</td>
                        </tr>
                     </table>
                  </div>
               </div>
               <div class="col s12 m4">
                  <div class="card-panel teal">
                     <table class="white-text" style="padding-top:0px">
                        <tr>
                           <b>
                              <th>Match:</td>
                              <th> 87%</th>
                           </b>
                        </tr>
                        <br>
                        <tr>
                           <td>Name:</td>
                           <td>Shantanu Agarwal</td>
                        </tr>
                        <tr>
                           <td>Contact:</td>
                           <td>9958818058</td>
                        </tr>
                        <tr>
                           <td>Address:</td>
                           <td> ND-09, Satpura Boys Hostel, IIT Delhi, Delhi</td>
                        </tr>
                     </table>
                  </div>
               </div>
      </div>
      <!-- <div class="row">
         <div class="col s12 m3">
            <div class="card-panel teal">
               <span class="white-text"><b>Match: 88%</b></span><br><br>
               <span class="white-text">Name: Shantanu Agarwal</span><br>
               <span class="white-text">Contact: 9958818058</span><br>
               <span class="white-text">Address: ND-09, Satpura Boys Hostel, IIT Delhi, Delhi</span><br>
            </div>
         </div>
      </div> -->
   </body>
</html>
